@mixin construct($width, $color, $style: solid) {
  border: {
    style: $style;
    width: $width;
    color: $color;
  }
}

$highlight: #f00;
.main {
  width: 80%;
  :hover {
    @include construct(15678px, $highlight + #045);
    h1 {
      font: Arial;
    }
  }
}
