$default-highlight-colour: violet;

body, html {
  margin: 0px;
  height: 100%;
  a {
    color: $default_highlight_colour; // - and _ can be used interchangeably in Sass.
    $visited-link-highlight: purple !global;
  }
}

div.important.link {
  :visited {
    color: $visited-link-highlight;
  }
}

.main {
  $main-width: 80% !global;
  width: $main-width;
}

img, div.decoration {
  border: 10px {
    color: $default-highlight-colour;
    width: 2px;
  }
}



